<!DOCTYPE html>
<html lang="en">

<head>
      <style>
        form {
          display: flex;
          justify-content: center;
          font-family: Roboto, Arial, sans-serif;
          font-size: 15px;
          }
        form {
        border: 5px solid #f1f1f1;
        }
        input[type=text], input[type=password] {
        width: 100%;
        padding: 16px 8px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        }
        button {
        background-color: #8ebf42;
        color: white;
        padding: 14px 0;
        margin: 10px 0;
        border: none;
        cursor: grabbing;
        width: 100%;
        }
        h1 {
        text-align:center;
        fone-size:18;
        }
        button:hover {
        opacity: 0.8;
        }
        .formcontainer {
        text-align: left;
        margin: 24px 50px 12px;
        }
        .container {
        padding: 16px 0;
        text-align:left;
        }
        span.psw {
        float: right;
        padding-top: 0;
        padding-right: 15px;
        }
        /* Change styles for span on extra small screens */
        @media screen and (max-width: 300px) {
        span.psw {
        display: block;
        float: none;
        }
    </style>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Butterfly Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Butterfly - v4.3.0
  * Template URL: https://bootstrapmade.com/butterfly-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between d-flex p-10  d-flex align-items-stretch w-100 "  >

      <a href="#hero" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid" width="200" height="200"></a>
      <!-- Uncomment below if you prefer to use text as a logo -->
      <!-- <h1 class="logo"><a href="index.html">Butterfly</a></h1> -->

      <nav id="navbar" class="navbar" >
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Log-in</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row" >
        <div  align="center">
          <h1>Hear4Me</h1>
          <h2>Our startup operates with the help of post-grad psychology students to help teenagers receive the best mental aid possible when facing difficult situations; such as struggle in communicating feelings, lack of mental support in personal life and any other mental rooted issue.</h2>
          <br><div></br><a href="https://docs.google.com/forms/d/e/1FAIpQLSchi30GMIdzGAQqF4PUwCkOWllfocgw3b6qGGJZeit5NGsOmA/viewform" target="_blank"> <button id="call" type="submit" class="btn-primary btn-lg btn-block" style="width: 50%;">Call!</button></a></br></form>
        </br></div><br>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch position-relative">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>About us</h3>
            <p>
Our team is a group of 10 teenagers who came together under a program called MEET in order to help other teenagers.
We envision a reality where teens can access mental health care easily without going through a complicated process and by that improving their mental health.

Our mission is
to provide easily accessible mental health care service through a website.
Our startup operates with the help of post-grad psychology students to help teenagers receive the best mental aid possible when facing difficult mentally situations.</p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="text-center title">
          <h3>Relevant Statistics</h3>
          <p>All of this data is based on Headspace and Enosh's own research visit their website to see more.</p>
        </div>

        <div class="row counters position-relative">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="73" data-purecounter-duration="1" class="purecounter"></span>
            <h5>"percentage of youths aged 13-18 report that they have experienced a mental health crisis or a mental health problem"</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
            <h5>"percentage of youths are confident that they will request mental health treatment or consultation"</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="59" data-purecounter-duration="1" class="purecounter"></span>
            <h5>"percentage of parents prefer to refer their child to private mental health services rather than public ones"</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="40" data-purecounter-duration="1" class="purecounter"></span>
            <h5>"percentage of youths admit that they mainly refrain from receiving mental health treatment because of shame"</h5>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Log in </h2>
          <form action="/action_page.php">

            <div class="formcontainer">
            <hr/>
            <div class="container">
              <label for="uname"><strong>Username</strong></label>
              <input type="text" placeholder="Enter Username" name="uname" required>
              <label for="psw"><strong>Password</strong></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
            </div>
            <button type="submit">Login</button>
            </div>
          </form>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <h3>Mission</h3>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  to provide teenagers easily accessible mental health care through a website.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <h3>Vision</h3>

                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  We envision a reality where teens can easily access mental health care, without having to go through a complicated process.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <p>Meet Our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Goori Legum</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>



          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Salam Aqita</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Natali Moashaiev</h4>
                <span>UXer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Roni Katz</h4>
                <span>Uxer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Razi Salameh</h4>
                <span>UXer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Jana Sayed Ahmad</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Andrew Shahla</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Rushdi Daqa</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Siwar Hammad</h4>
                <span>Designer</span>
              </div>
            </div>
          </div>



          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Mai Ber</h4>
                <span>Designer</span>
              </div>
            </div>




          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
        </div>


        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">


              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>hear4me.2021@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>0564326490</p>
              </div>

              <div class="phone">
                <i class="bi bi-instagram"></i>
                <h4>Instagram:</h4>
                <p>Hear4_me</p>
              </div>

            </div>

          </div>



        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">




    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Hear4Me</span></strong>. All Rights Reserved

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>